<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battleship Referee</title>
</head>
<body>

<h1>Lobby</h1>

{{#each players}}
    <h3>{{name}}: {{wins}} - {{losses}}</h3>
{{/each}}

<a href='http://dinkydog.local:5000/battleship/api/init'>create match</a>

{{#each matches}}
    <h3>{{name}} : {{winner}} won</h3>
    <button onClick='http://dinkydog.local:5000/match/{{ id }}'>details</button>
{{/each}}

</body>
</html>