<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battleship Referee</title>
</head>
<body>

<h1>Lobby</h1>

<button onClick='http://dinkydog.local:5000/battleship/match'>create match</button>

{{#each players}}
    <h3>{{name}}: {{wins}} - {{losses}}</h3>
    <span>{{ip}} {{port}}</span>
{{/each}}

</body>
</html>